extends layout

block content
    .col-md-5.left-column.no-float
      include partials/header

      p
        a.btn.btn-question(id='add_text_question', href="#") Add Short Answer Question
      p
        a.btn.btn-question(id='add_multiple_choice_question', href="#") Add Multiple Choice Question


      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='name', value=formInfo.name)
        input(type='hidden', name='fields' id='fieldData', value=formInfo.fields)
        input(type='hidden', name='startTrigger', value=formInfo.startTrigger)

    .col-md-7.right-column.no-float(id='question-list')
      h3= title
      .offset-md-1.col-md-5.no-float
        input.meta-input(type='text', name='name', id='name', autofocus=true, value=formInfo.name, placeholder="Name (required)")

        input.meta-input(type='text', name='startTrigger', id='startTrigger', autofocus=true, value=formInfo.startTrigger, placeholder="Start Trigger (optional)")

        a.btn.btn-save.pull-right(id='submit-form') Save
        a.btn.btn-secondary.pull-right(href="/forms") Cancel
